src/utils/__pycache__
[Ignore]/
src/utils/[Outdated]/**
*src/utils/[Outdated]/*.py
*_local*.ini
src/app_config_local.ini
src/connections_config_local.ini
src/utils/JSON Test.py
src/utils/analyze_load_file.py
*/Logs/**
*/S3/Logs/**
*/Archive/**
*/S3/Archive/**
*/Upload/**
*/S3/Upload/**
*/S3/Config/**
*_local.*
main*.py
!main.py
set_keyring_passwords.py
path_setup.py
!src/utils/generated_files/
src/utils/generated_files/*
!src/utils/generate_config.py
!src/utils/spec_builder.py
!src/utils/__init__.py
/data/Archive/*
/data/Logs/*
/data/Upload/*
!/data/
/.vscode/**
launch.json
~$*.xls*

# Temporary exclusions
tests/*
global_variables.py
# Dockerfile
# entrypoint.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py